@import 'tailwindcss';

@theme {
	--breakpoint-xs: 400px;
    --font-diablo: "DiabloHeavy";
    --font-d2r: "d2r";
    --color-diablo-unique: #c7b790;
    --color-diablo-set: #478e47;
    --color-diablo-rune: #de9f32;
    --color-diablo-magic: var(--color-indigo-400);
    --color-diablo-requirement: var(--color-red-400);

    --color-rune-name: var(--color-diablo-rune);
    --color-rune-nr: var(--color-white);
}

/*
    --color-diablo-magic: #6f5df7;
    --color-diablo-requirement: #ef4f4f;
*/

body {
    font-family: 'Alegreya';
    font-variant-numeric: lining-nums;
    font-size: 18px;
    background-color: #393939;
    color: white;
}

::selection {
    background: black;
}

/* font converted using font-converter.net. thank you! */
@font-face {
    font-family: "DiabloHeavy";
    src: url("assets/fonts/DiabloHeavy.eot"); /* IE9 Compat Modes */
    src: url("assets/fonts/DiabloHeavy.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("assets/fonts/DiabloHeavy.otf") format("opentype"), /* Open Type Font */
    url("assets/fonts/DiabloHeavy.ttf") format("truetype"), /* Safari, Android, iOS */
    url("assets/fonts/DiabloHeavy.woff") format("woff"), /* Modern Browsers */
    url("assets/fonts/DiabloHeavy.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "DiabloLight";
    src: url("assets/fonts/DiabloLight.eot"); /* IE9 Compat Modes */
    src: url("assets/fonts/DiabloLight.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("assets/fonts/DiabloLight.otf") format("opentype"), /* Open Type Font */
    url("assets/fonts/DiabloLight.ttf") format("truetype"), /* Safari, Android, iOS */
    url("assets/fonts/DiabloLight.woff") format("woff"), /* Modern Browsers */
    url("assets/fonts/DiabloLight.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "D2R";
    src: url("assets/fonts/ExocetBlizzardMixedCaps-Medium.woff2") format("woff2");
    font-style: normal;
}

@utility bg-stone {
    background-image: url('/assets/images/bg-tile-1600.jpg');
    background-position: 0 0;
    background-size: 600px;
    background-repeat: repeat;
}

@utility text-shadow-blood {
    text-shadow: 0 0 6px --alpha(var(--color-red-600) / 80%);
}

@layer utilities {
    .bg-stone {
        @apply bg-stone;
    }

    .box-shadow-inset-card {
        box-shadow:
            inset 0 0 20px --alpha(var(--color-black) / 60%),
            0 1px 3px --alpha(var(--color-black) / 20%)
        ;
    }
}

@layer components {
    .nav-active {
        @apply
            bg-linear-180 from-black/30 to-black/20 !text-white
            border-l border-r border-white/10
            text-shadow-blood
        ;
        box-shadow: inset 1px 0 0 black, inset -1px 0 0 black;
    }

    .d2rr-input {
        @apply
            p-2
            border-l-3 border-l-stone-600/30
            border-t-3 border-t-stone-600/30
            border-r-3 border-r-stone-300/20
            border-b-3 border-b-stone-200/25
            outline-1 outline-white/10
            focus:outline-amber-200/35
        ;
        background: --alpha(var(--color-black) / 60%);
        box-shadow: inset 0 0 3px black, 0 1px 0 #0009, 0 2px 3px #0006;
    }

    .d2rr-select {
        appearance: none;
        @apply
            p-2
            border-l-3 border-l-stone-600/30
            border-t-3 border-t-stone-600/30
            border-r-3 border-r-stone-300/20
            border-b-3 border-b-stone-200/25
            outline-1 outline-white/10
            focus:outline-amber-200/35
        ;
        background-color: --alpha(var(--color-black) / 60%);
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'  height='24px' viewBox='0 0 22 16'%3E%3Cpath fill='lightgray' d='M12 6H4l4 5.5z'/%3E%3C/svg%3E");
        /* background-image: url(/assets/images/button-select.jpg); */
        background-position: right 50%;
        background-repeat: no-repeat;
        box-shadow: inset 0 0 3px black, 0 1px 0 #0009, 0 2px 3px #0006;
        position: relative;
        padding-right: 2rem;

    }
    .d2rr-select:after {
        position: absolute;
        z-index: 10;
        right: 0;
        top: 0;
        bottom: 0;
        width: 2rem;
        height: auto;
        background: red !important;
        content: "↓";
    }
}

select.is-empty {
    color: var(--color-stone-400);
}

.unique-text {
    color: #c7b790ed;
}

.set-text {
    color: #478e47;
}

.enhanced {
    color: #6f5df7;
}

.set-header {
    font-size: 26px;
}

.requirement {
    color: #ef4f4f;
}

.runes span {
    padding: 0 5px 0 5px;
}

.runeword-types span {
    padding: 0 5px 0 5px;
}

.combo, .types, .damage, .durability, .armor {
    color: whitesmoke;
}
