@use 'styles/md-styles';

/* font converted using font-converter.net. thank you! */
@font-face {
    font-family: "DiabloHeavy";
    src: url("assets/fonts/DiabloHeavy.eot"); /* IE9 Compat Modes */
    src: url("assets/fonts/DiabloHeavy.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("assets/fonts/DiabloHeavy.otf") format("opentype"), /* Open Type Font */
    url("assets/fonts/DiabloHeavy.ttf") format("truetype"), /* Safari, Android, iOS */
    url("assets/fonts/DiabloHeavy.woff") format("woff"), /* Modern Browsers */
    url("assets/fonts/DiabloHeavy.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "DiabloLight";
    src: url("assets/fonts/DiabloLight.eot"); /* IE9 Compat Modes */
    src: url("assets/fonts/DiabloLight.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("assets/fonts/DiabloLight.otf") format("opentype"), /* Open Type Font */
    url("assets/fonts/DiabloLight.ttf") format("truetype"), /* Safari, Android, iOS */
    url("assets/fonts/DiabloLight.woff") format("woff"), /* Modern Browsers */
    url("assets/fonts/DiabloLight.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "D2R";
    src: url("assets/fonts/ExocetBlizzardMixedCaps-Medium.eot"); /* IE9 Compat Modes */
    src: url("assets/fonts/ExocetBlizzardMixedCaps-Medium?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("assets/fonts/ExocetBlizzardMixedCaps-Medium.otf") format("opentype"), /* Open Type Font */
    url("assets/fonts/ExocetBlizzardMixedCaps-Medium.ttf") format("truetype"), /* Safari, Android, iOS */
    url("assets/fonts/ExocetBlizzardMixedCaps-Medium.woff") format("woff"), /* Modern Browsers */
    url("assets/fonts/ExocetBlizzardMixedCaps-Medium.woff2") format("woff2"), /* Modern Browsers */
    url("assets/fonts/ExocetBlizzardMixedCaps-Medium.svg#ExocetBlizzardMixedCaps-Medium") format("svg");
    font-style: normal;
}

.font-classic {
    font-family: DiabloLight !important;
    font-size: 14px;
}
.font-resurrected {
    font-family: D2R !important;
    font-size: 17px;
    line-height: 22px;
}
.font-neutral {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
}
.font-mix {
    font-family: "Alegreya sans", sans-serif;
    font-size: 18px;
    letter-spacing: .5px;
}
.font-mix .navbar-brand, .font-mix h1, .font-mix h2, .font-mix h3, .font-mix h4, .font-mix h5, .font-mix h6 {
    font-family: D2R !important;
}

:root {
    --bs-dark-rgb: 16, 16, 16 !important;
    --bs-body-bg: #111 !important;
}

body {
    padding: 0 !important;
    background-color: #161616 !important;
    color: white !important;
}

.cursor-pointer {
    cursor: pointer;
}

.unique-text {
    color: #c7b790ed;
    text-transform: uppercase;
}

.set-text {
    color: #478e47;
    text-transform: uppercase;
}

.enhanced {
    color: #7e6ef8;
}

.set-header {
    font-size: 26px;
}

.requirement {
    color: #ef4f4f;
}

.runes span {
    padding: 0 5px 0 5px;
}

.runeword-types span {
    padding: 0 5px 0 5px;
}

.combo, .types, .damage, .durability, .armor {
    color: whitesmoke;
}

.description {
    color: #999;
    font-style: italic;
    letter-spacing: 1px;
}

/** Navigation Bar changes **/
.navbar-dark {
    --bs-body-bg: #161616 !important;
    
    --bs-navbar-color: rgba(255, 255, 255, .8);
    --bs-navbar-hover-color: rgba(255, 255, 255, 1);
}

.nav-link:active {
    position: relative;
    top: 1px;
}

/** Form control stuff **/
.form-control:focus, .form-select:focus {
    box-shadow: 0 0 0 0.2rem rgba(199, 183, 144, 0.3);
    border-color: rgba(199, 183, 144, 0.93);
}